<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<!-- <link rel="shortcut icon" href="img/icons/icon-48x48.png" /> -->

	<title>Area Administrativa</title>

	<link href="css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/">
					<span class="align-middle">SOFTEX PE</span>
				</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Menu
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" href="/">
							<i class="align-middle" data-feather="sliders"></i> <span
								class="align-middle">Dashboard</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/profile">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Perfil</span>
						</a>
					</li>


				</ul>

			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
								<div class="position-relative">
									<i class="align-middle" data-feather="bell"></i>
									<span class="indicator">4</span>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
								aria-labelledby="alertsDropdown">
								<div class="dropdown-menu-header">
									4 Novas Notificações
								</div>
								<div class="list-group">
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-danger" data-feather="alert-circle"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">A definir</div>
												<div class="text-muted small mt-1">A definir.</div>
												<div class="text-muted small mt-1">A definir</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-warning" data-feather="bell"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">A definir</div>
												<div class="text-muted small mt-1">A definir</div>
												<div class="text-muted small mt-1">A definir</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-primary" data-feather="home"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">A definir</div>
												<div class="text-muted small mt-1">A definir</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-success" data-feather="user-plus"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">A definir</div>
												<div class="text-muted small mt-1">A definir
												</div>
												<div class="text-muted small mt-1">A definir</div>
											</div>
										</div>
									</a>
								</div>
								<div class="dropdown-menu-footer">
									<a href="#" class="text-muted">Ver todas notoficações</a>
								</div>
							</div>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
								data-bs-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
								data-bs-toggle="dropdown">
								<img src="img/avatars/avatar.png" class="avatar img-fluid rounded me-1"
									alt="Charles Hall" /> <span class="text-dark">Administrador</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="/profile"><i class="align-middle me-1"
										data-feather="user"></i> Perfil</a>

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="align-middle me-1"
										data-feather="help-circle"></i> Suporte</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout-master">Sair</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Dashboard</h1>

					<label for="filtro">Filtro:</label>
					<select id="filtro" onchange="filtrarTabela()" class="mb-2 form-select form-select-sm"
						style="max-width:300px;">
						<option value="todos">Todos</option>
						<option value="ativo">Ativo</option>
						<option value="inadiplentes">Inadiplentes</option>
						<option value="sss">SemValor</option>
					</select>

					<div class="row">
						<div class="col-12 col-lg-8 col-xxl-9 d-flex">
							<div class="card flex-fill">
								<div class="card-header">

									<h5 class="card-title mb-0">Relacao de Clientes</h5>
								</div>
								<table id="tabela" class="table table-hover my-0">
									<thead>
										<tr>
											<th>Agencia</th>
											<th class="d-none d-xl-table-cell">Data De Inscricao</th>
											<th class="d-none d-xl-table-cell">Inativo Desde</th>
											<th class="d-none d-md-table-cell">Nome</th>
											<th id="statusHeader">Status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Natal</td>
											<td class=" d-none d-xl-table-cell">01/01/2024</td>
											<td class="d-none d-xl-table-cell">-/-/-</td>
											<td class="d-none d-md-table-cell">Vanessa Gomes</td>
											<td><span class="badge bg-success">Ativo</span></td>
										</tr>
										<tr>
											<td>Natal</td>
											<td class="d-none d-xl-table-cell">01/01/2024</td>
											<td class="d-none d-xl-table-cell">-/-/-</td>
											<td class="d-none d-md-table-cell">Felipe jose</td>
											<td><span class="badge bg-success">Ativo</span></td>
										</tr>

										<tr>
											<td>Natal</td>
											<td class="d-none d-xl-table-cell">01/01/2024</td>
											<td class="d-none d-xl-table-cell">-/-/-</td>
											<td class="d-none d-md-table-cell">Maria Silva</td>
											<td><span class="badge bg-success">Ativo</span></td>
										</tr>
										<tr>
											<td>Natal</td>
											<td class="d-none d-xl-table-cell">01/01/2024</td>
											<td class="d-none d-xl-table-cell">-/-/-</td>
											<td class="d-none d-md-table-cell">Jose Nascimento</td>
											<td><span class="badge bg-success">Ativo</span></td>
										</tr>
										<tr>
											<td>Parnamirim</td>
											<td class="d-none d-xl-table-cell">01/01/2024</td>
											<td class="d-none d-xl-table-cell">-/-/-</td>
											<td class="d-none d-md-table-cell">Antonio Carlos</td>
											<td><span class="badge bg-success">Ativo</span></td>
										</tr>
										<tr>
											<td>Natal</td>
											<td class="d-none d-xl-table-cell">01/01/2024</td>
											<td class="d-none d-xl-table-cell">01/01/2024</td>
											<td class="d-none d-md-table-cell">Maria Clara</td>
											<td><span class="badge bg-warning">Inadiplentes</span></td>
										</tr>
										<tr>
											<td>Parnamirim</td>
											<td class="d-none d-xl-table-cell">01/01/2024</td>
											<td class="d-none d-xl-table-cell">01/01/2024</td>
											<td class="d-none d-md-table-cell">Vanessa Andrade</td>
											<td><span class="badge bg-warning">Inadiplentes</span></td>
										</tr>
										<tr>
											<td>Parnamirim</td>
											<td class="d-none d-xl-table-cell">01/01/2024</td>
											<td class="d-none d-xl-table-cell">-/-/-</td>
											<td class="d-none d-md-table-cell">Jose Alves</td>
											<td><span class="badge bg-danger">sss</span></td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
						<div class="col-12 col-lg-4 col-xxl-3 d-flex">
							<div class="card flex-fill w-100">
								<div class="card-header">

									<h5 class="card-title mb-0">Status Usuarios</h5>
								</div>
								<div class="card-body d-flex">
									<div class="align-self-center w-100">
										<div class="py-3">
											<div class="chart chart-xs">
												<canvas id="chartjs-dashboard-pie"></canvas>
											</div>
										</div>

										<table class="table mb-0">
											<tbody>
												<tr>
													<td>Ativos</td>
													<td class="text-end">5</td>
												</tr>
												<tr>
													<td>Inadiplentes</td>
													<td class="text-end">2</td>
												</tr>
												<tr>
													<td>A definir</td>
													<td class="text-end">1</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-muted" href="" target="_blank"><strong>A DEFINIR</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="" target="_blank">Termo de Privacidade</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script>
		function filtrarTabela() {
			var filtro = document.getElementById("filtro").value;
			var tabela = document.getElementById("tabela");
			var linhas = tabela.getElementsByTagName("tr");

			for (var i = 1; i < linhas.length; i++) {
				var statusCell = linhas[i].getElementsByTagName("td")[4];
				var status = statusCell.innerText.toLowerCase();

				if (filtro === "todos" || status === filtro) {
					linhas[i].style.display = "";
				} else {
					linhas[i].style.display = "none";
					console.log(linhas[i])
				}

			}
		}
	</script>
	<script src="js/app.js"></script>
	<script src="js/animationHome.js"></script>




</body>

</html>